*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
2020-02-20-test.ipynb
2022-08-21-Notebook1.ipynb
2022-08-27-Notebook2.ipynb
2022-08-27-ToolCheck.ipynb
2022-09-18-markdown-7.md