<table>
    <tr>
        <td><img src="{{site.baseurl}}//images/Fox.png" height="60" title="Submenu" alt=""></td>
        <td><a href="https://keiraokimoto.github.io/Fastpages/techtalk/javascript">Javascript Table</a></td>
        <td><a href="https://keiraokimoto.github.io/Fastpages/markdown%20posts/2022/09/25/markdown-8.html">Extra Statistics Unit II Vocabulary</a></td>
        <td><a href="https://keiraokimoto.github.io/Fastpages/markdown%20posts/2022/09/25/markdown-9.html">Team Project Plan</a></td>
        <td><a href="https://keiraokimoto.github.io/Fastpages/group/2022/09/26/markdown-10.html">Groupwork</a></td>
        <td><a href="https://keiraokimoto.github.io/Fastpages/post/2022/09/26/markdown-11.html">HTML Bootstraps Table</a></td>
        <td><a href="--">API</a></td>
    </tr>
</table>