<table>
    <tr>
        <td><img src="{{site.baseurl}}//images/Fox.png" height="60" title="Submenu" alt=""></td>
        <td><a href="//_notebooks/2022-09-23-PBL-js_tutorial.ipynb">Javascript Table</a></td>
        <td><a href="//_posts/2022-09-25-markdown-8.md">Extra Statistics Unit II Vocabulary</a></td>
        <td><a href="//_posts/2022-09-25-markdown-9.md">Team Project Plan</a></td>
        <td><a href="//_posts/2022-09-25-markdown-10.md">Groupwork</a></td>
        <td><a href="//_notebooks/2022-09-26-HTML-Table.ipynb">HTML Bootstraps Table</a></td>
    </tr>
</table>